.doctor-appointment{
    background-color: rgb(210, 211, 216);
}
.main-Doctor{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.doctors{
    width: 100%;
    height: 1000;
}
@media only screen and (max-width: 800px) {
    .main-Doctor{
        flex-direction: column-reverse;
    }
}